snippet cdm
	componentDidMount: function() {
		${1}
	},
snippet cwm
	componentWillMount: function() {
		${1}
	},
snippet cwu
	componentWillUnmount: function() {
		${1}
	},
snippet gis
	getInitialSate: function() {
		return ${1}
	},
snippet rr
	render: function() {
		return (
			${1}
		);
	},
snippet rclass
	React.createClass({
		${1}
	});
